.root {
    -fx-accent: #19482c;
    -fx-base: #1f1f20;
    -fx-text-fill: #fff;

    -fx-font-size: 14pt;
}

.button-number{
    -fx-background-color: derive(-fx-base,10%);
}

.button-number:hover {
    -fx-background-color: derive(-fx-base,20%);
}

.button-operation{
    -fx-background-color: derive(-fx-base,5%);
}

.button-operation:hover {
    -fx-background-color: derive(-fx-base,20%);
}

.button:default {
    -fx-background-color: -fx-accent;
    -fx-text-fill: #fff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-accent, 20%);
}

.text-field:focused {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
}

#title {
    -fx-font-size: 10pt;
}

#close-button {
    -fx-font-size: 10pt;
    -fx-background-color: transparent;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

#close-button:hover {
    -fx-background-color: red;
}

#display {
    -fx-border-width: 1 0 1 0;
    -fx-border-style: solid;
    -fx-border-color: derive(-fx-base, 80%);
}

#expression {
    -fx-font-size: 10pt;
}